#main{
    width: 1920px; max-width: 100%;
    height: 300px; margin: 0 auto;
}

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
} 

body {
    font-family: "Silkscreen", sans-serif;
    margin: 0;
}

#banner {
    display: inline-flex;
    color: white;
    font-size: 15vh;
    padding-left: 3vw;
    background-color: rgb(0, 0, 0);
    height: 17vh;
    width: 100vw;
    appearance: none;
}

.blinking {
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;  /* 텍스트가 보이도록 설정 */
    }
    50% {
        opacity: 0;  /* 텍스트를 숨기도록 설정 */
    }
    100% {
        opacity: 1;  /* 텍스트가 다시 보이도록 설정 */
    }
}

#main {
    background-color: rgb(0, 0, 0);
    height: 75vh;
    width: 97vw;
    padding: 2vw;
}

/* ------- widjet ------- */
.widjet {
    float: left;
    /* border: solid red 1px; */
    margin: 1vw;
    width: 20vw;
}

.nametag {
    color: white;
    margin-bottom: 3vh;
    font-size: 3vh;
    margin-left: 0;
}

.box {
    background-color: white;
    padding: 3vh;
    width: auto;
}

/* ------- progress ------- */
#prog {
    width: 40vw;
    height: 28vh;
    font-size: 2.5vh;
    line-height: 1.5em;
}

#prog > .box {
    height: 15vh;
}

.progsetting {
    float: right;
}
 
.progress {
     appearance: none;
 }

.progress::-webkit-progress-bar {
     background:#f0f0f0;
     border-radius:10px;
     box-shadow: inset 3px 3px 10px #ccc;
}
 
#progress1::-webkit-progress-value {
     border-radius:10px;
     background: #de4355;
}
 
#progress2::-webkit-progress-value {
     border-radius:10px;
     background: #fcd04c;
}
 
#progress3::-webkit-progress-value {
     border-radius:10px;
     background: #4dacff;
}
 
#progress4::-webkit-progress-value {
     border-radius:10px;
     background: #616161;
}

/* ------- sub widjet ------- */
#check {
    width: 27vw;
    height: 28vh;
    font-size: 2.3vh;
}

#check > .box {
    height: 15vh;
}

#diary {
    width: 14vw;
    height: 28vh;
}

#diary > .box {
    height: 15vh;
    overflow: hidden;
}

img {
    scale: 130%;
    width: 150%;
    position: relative;
    left: -25%;
}


#calender {
    min-height: fit-content;
    width: 45vw;
    height: 35vh;
}

#memo {
    width: 40vw;
    height: 35vh;
}

#memo > .box {
    display: inline-flex;
}

.memo-form {
    margin-bottom: 30px;
    display: block;
}

.memo-form input, .memo-form textarea {
    width: 20vw;
    padding: 1vw;
    margin: 1vh 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.memo-form button {
    width: 20vw;
    padding: 1vw;
    background-color: #000600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.memo-form button:hover {
    background-color: #45a049;
}

.memo-list {
    margin-left: -12vw;
    width: 15vw;
}

.memo-entry {
    background-color: #fafafa;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.1);
}

.memo-entry h3 {
    margin: 0;
    font-size: 1vw;
    color: #333;
  }

.memo-entry p {
    margin: 1vw 0;
    color: #666;
}

/* ------- media query ------- */
@media (max-width: 1300px) {
    
    #main {
        height: 120vh;
    }

    #prog {
        width: 52vw;
        height: 24vh;
        font-size: 2vh;
    }

    #prog > .box {
        height: 11vh;
    }

    #check {
        width: 25vw;
        height: 24vh;
        font-size: 1.7vh;
    }

    #check > .box {
        height: 11vh;
    }

    #diary {
        width: 15vw;
        height: 38vh;
    }

    #diary > .box {
        height: 200px;
    }
    
    #calender {
        min-height: fit-content;
        width: 62vw;
        height: 38vh;
    }
    
    #memo {
        width: 81vw;
        height: 35vh;
    }

    #memo > .box {
        display: inline-flex;
        height: 22vh;
    }
    
    .memo-form input, .memo-form textarea {
        width: 40vw;
        height: 15vh;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .memo-form button {
        width: 40vw;
        padding: 1vw;
        background-color: #000600;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .memo-entry {
        background-color: #fafafa;
        padding: 1vw;
        margin: 1vw;
        border-radius: 1vw;
        box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.1);
    }

    .memo-list {
        margin-left: -15vw;
    }
  }

  /* ------- media query ------- */
@media (max-width: 1250px) {

    #prog {
        width: 50vw;
        height: 24vh;
        font-size: 2vh;
    }

    #check {
        width: 27vw;
        height: 24vh;
        font-size: 1.5vh;
    }
}

  /* ------- media query ------- */
  @media (max-width: 860px) {
    #banner {
        font-size: 80px;
    }
    
    #main {
        height: 155vh;
    }

    #prog {
        width: 90vw;
        height: 24vh;
        font-size: 2vh;
    }

    #prog > .box {
        height: 11vh;
    }

    #check {
        width: 70vw;
        height: 24vh;
        min-height: 18%;
        font-size: 1.7vh;
        float: left;
    }

    #check > .box {
        height: 11vh;
        min-height: 50%;
    }

    #diary {
        width: 15vw;
        height: 24vh;
        min-height: 18%;
    }

    #diary > .box {
        height: 11vh;
        min-height: 50%;
    }
    
    #calender {
        min-height: fit-content;
        width: 90vw;
    }
    
    #memo {
        width: 90vw;
        height: 35vh;
    }

    #memo > .box {
        display: inline-flex;
        height: 22vh;
    }
    
    .memo-form input, .memo-form textarea {
        width: 65vw;
        height: 15vh;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .memo-form button {
        width: 65vw;
        padding: 1vw;
        background-color: #000600;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .memo-entry {
        background-color: #fafafa;
        padding: 1vw;
        margin: 1vw;
        border-radius: 1vw;
        box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.1);
    }

}
